@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root variables */
:root {
  --font-inter: "Inter", sans-serif;
  --rounded-radius: 9999px;
}

/* Utility classes */
.dynamic-rounded {
  border-radius: var(--rounded-radius);
}

.transition-bg {
  transition: background-color 2s ease-in-out;
}

/* Global styles */
* {
  word-break: keep-all;
}

html {
  scroll-behavior: smooth;
}

/* Responsive adjustments */
@media (max-width: 640px) {
  html {
    font-size: 14px;
  }
}
