@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root variables */
:root {
  --rounded-radius: 9999px;
}

/* Utility classes */
.dynamic-rounded {
  border-radius: var(--rounded-radius);
}

.transition-bg {
  transition: background-color 2s ease-in-out;
}

/* Global styles */
* {
  word-break: keep-all;
}

html {
  scroll-behavior: smooth;
}

/* Responsive adjustments */
@media (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blinking-cursor::after {
  content: '|';
  animation: blink 3s step-end infinite;
  color: #8f8; /* Adjust color as needed */
}
