@tailwind base;
@tailwind components;
@tailwind utilities;

// 배경색 js로 조정
:root {
  --background: #0f0f13;
  --foreground: #fff;
  --font-pretendard: "Pretendard", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f13;
    --foreground: #ededed;
  }
}

* {
  word-break: keep-all;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard);
  font-weight: 700;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.ttf") format("truetype");
  font-weight: 100 900; /* 가변 폰트의 가중치 범위 */
  font-style: normal;
}

// 반응형
@media (max-width: 640px) {
  html{
    font-size: 14px;
  }
}