@tailwind base;
@tailwind components;
@tailwind utilities;

// 배경색 js로 조정
:root {
  // --background: #0f0f13;
  // --foreground: #fff;
  --font-inter: "Inter", sans-serif;
  --rounded-radius: 9999px;
}

.dynamic-rounded {
  border-radius: var(--rounded-radius);
}

.transition-bg {
  transition: background-color 2s ease-in-out;
}

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500&display=swap');
.font-Azeret{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 2px;
}
* {
  word-break: keep-all;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 640px) {
  html{
    font-size: 14px;
  }
}